#map {
  background-image: url('https://drive.google.com/open?id=1Ye2PcngD93lCqGyFM6xjRw7KAzQ&usp=sharing');
}
#name_event {
  text-align: column;
  width:100px;
  height:30px;
  padding:25px;
  font-size:40px;
  border:2px solid black;
}
#Title{
  font-size: 30px;
}
#main {
padding: 1px 1px 1px 1px;
border: 2px solid black;
}
/* still doesn't work in home */
#main_page{
  font-size: 30px;
  text-align: center;
  text-shadow: #C8C8C8

}
h1{
  text-align: center;
}

body {
  text-align: center;
  text-align: column;
}

      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: royalblue;
      }

      li {
          float: left;
      }

      li a {
          display:block;
          font-family: system-ui;
          color: white;
          text-align: center;
          padding: 16px 100px;
          text-decoration:none;
      }

      li a:hover {
          background-color: darkblue;
      }

.event li {
  list-style-position: outside;
  background-color: white;
}
