<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="resources/style.css"></link>
    <link rel="stylesheet" href="resources/create.js"></link>
    <meta charset="utf-8">
    <title>Campus Explorer</title>
    <div id="Title">
      <h1> Campus Explorer </h1>
    </div>
  </head>
  <body>
  <ul>
    <li><a class="active" href="events.html">Home</a></li>
    <li><a href="create.html">Create Events</a></li>
  </ul>



  <form>

    <div id= "Create_box">
    <h2> Create a New Event </h2>
    <div id="main">

      <h2>Date and Time</h2>
      <input type= "date" name = "date_test"></input>
      <input type= "time" name= "time_test"></input>
      <h2>Email</h2>
      <input type= "email" name="email_test"></input>
      <h2>Name of Event</h2>
      <input type= "name_of_event" name="name_test" id= "name_event"/>
      <h2>Where</h2>
      <input type= "Where" name="where_test" id= "where_event"/>
      <h2>Description of Event</h2>
      <input type= "description_of_event" name="description_test" id= "description_event"/>
      <button id="add_event">Add New Event</button>
      <button id="remove_event">Remove Event</button>
    </div>
  </div>

  <input type="submit" action = "get" value="Submit" formaction="">
  </form>
  </body>
</html>
